Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.4
pandas==1.0.4
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
statsmodels==0.11.1
Werkzeug==1.0.1
jupyter==1.0.0
Pillow==8.1.0
scikit-image==0.18.1
readlif==0.4.1
tifffile==2021.2.1
opencv-python-headless==4.2.0.32
flask_socketio==5.0.1
gunicorn==20.0.4